<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SapatariaPF</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="menus">
        {{>_menuH}}
    </nav>
    {{{body}}}
    {{#if notchat}}
    {{else}}
    <input type="checkbox" name="chatCheck" id="chatCheck" hidden>
    <iframe src="/html/chat.html" frameborder="0" id="chatIframe"></iframe>
    <label for="chatCheck">
        <div class="chat"><i class="bi bi-chat-dots-fill"></i></div>
    </label>
    <script>
        const iframe= document.getElementById('chatIframe')
        const mensagens = [
            {{#each mensagens}}
            {
                msg: '{{this.TXT_Mensagem}}',
                nome: '{{this.Nome_Pessoa}}',
                cpf: '{{this.Funcionario_Pessoa_cpf_Pessoa}}',
                esuporte: {{this.Cargo_id_Cargo}}==9,

            },
            {{/each}}

        ]
        iframe.onload = function() {
            iframe.contentWindow.document.getElementById('cpf').innerText = '{{cpfFuncionario2}}';
            mensagens.forEach((message)=>{
                const li = document.createElement(`li`);
                console.log(message)
                if(message.cpf!='{{cpfFuncionario2}}'){
                    if(message.esuporte){
                        li.classList.add('sup')
                        li.innerHTML = `<h1>${message.nome} <span>Suporte</span></h1><p class="message">${message.msg}</p>`;
                    }else{
                        li.classList.add('ele')
                        li.innerHTML = `<h1>${message.nome}</h1><p class="message">${message.msg}</p>`;
                    }
                }
                else{
                    li.classList.add('eu')
                    li.innerHTML = `<p class="message">${message.msg}</p>`;
                }
                iframe.contentWindow.document.getElementById('messages').appendChild(li);
            })
            
            iframe.contentWindow.document.getElementById('chatMain').scrollTop = iframe.contentWindow.document.getElementById('chatMain').scrollHeight;
        };

    </script>
    {{/if}}
    <script>
        function verificaScroll() {
            // Altura total do conteúdo do documento
            const alturaDocumento = document.documentElement.scrollHeight;
            // Altura da janela visível
            const alturaJanela = window.innerHeight;
            // Verifica se a altura do documento é maior que a altura da janela
            if (alturaDocumento > alturaJanela) {
                return true;
            } else {
                return false;
            }
        }
        if(verificaScroll()){
            console.log('jfbfjbfgkhjbdfgd')
            document.querySelector('.menuH').style.paddingRight = '20px'
        }
        function redirecionar() {
            window.location.href = '/vendasFuncionario';  // Substitua pela URL de destino
        }

    </script>
</body>
</html>