<div class="h100 vendadiv">
    <div class="vendastabela">
        <table class="vendas">
            <thead>
                <tr>
                    <td>CPF</td>
                    <td>Funcionario</td>
                    <td>salario</td>
                    <td>Comissão</td>
                    <td>Total</td>
                </tr>
                    <td>Total</td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
            </thead>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                {{#each pagamentos}}
                <tr>
                    <td>{{this.Funcionario_Pessoa_cpf_Pessoa}}</td>
                    <td>{{this.Funcionario}}</td>
                    <td>{{this.Salario_Funcionario}} R$</td>
                    <td>{{this.comissao}} R$</td>
                    <td>{{this.total}} R$</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="form">
        <h1>Periodo:</h1>
        <form action="/pagamento" method="get">
            <p>Data:</p>
            <div>
                <input type="date" name="dataMin" id="dataMin">
                <span>até: </span>
                <input type="date" name="dataMax" id="dataMax">
            </div>
            <input type="submit" value="Aplicar" id="bungas">
        </form>
    </div>
<div>
<script>

    const vendas = document.querySelector('tbody')
    document.querySelector('thead').querySelectorAll('tr')[1].querySelectorAll('td').forEach((Element, index)=>{
        console.log(Element)
        if(Element.innerHTML==''){
            Element.innerHTML=somar(index)+' R$'
        }
        else if(Element.innerHTML==' '){
            Element.classList.add('naotem')
        }

    })
    function somar(qual){
        let soma=0
        vendas.querySelectorAll('tr').forEach((Element)=>{
            soma+=parseFloat(Element.querySelectorAll('td')[qual].innerHTML)
        })
        return soma
    }
    

</script>